.About-All {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f6d171;
  font-size: 20px;

  .SonPere {
    margin-top: 50px;
    height: 300px;
    width: 100%;
  }

  .Biography {
    margin: 100px;
    width: 800px;
    text-align: justify;
  }
}

.test {
  height: 500px;
  width: 500px;
  border: 1px solid white;
  border-top-right-radius: 50px;
}

@media screen and (max-width: 768px) {
  .About-All {
    .Biography {
      width: 20rem;
      padding: 1rem;
    }
  }
}
