.About-All {
  display: flex;
  flex-direction: column;
  color: var(--font);
  font-size: 20px;
  line-height: 2.2rem;
  align-items: center;
  overflow-x: hidden;

  .portrait {
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .portrait img {
    border: 4px solid var(--font);
    border-radius: 10rem;
    height: 21rem;
    width: 18rem;
  }

  .description {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .photo-portrait {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .photo-portrait img {
    width: 100%;
  }

  .Title {
    font-style: oblique;
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

  .Biography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .Biography p {
    margin-top: 3rem;
    width: 50rem;
    text-align: justify;
  }

  .Biography p::first-letter {
    line-height: 0.2;
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .About-All {
    margin-left: 0;
    padding-top: 1rem;
    width: 100%;
    align-items: center;
  }

  .About-All .photo-portrait img {
    width: 90%;
  }

  .About-All .portrait .photo-portrait {
    object-fit: cover;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .About-All .Biography p {
    width: 90%;
    margin: 2rem 1rem;
    font-size: 1.2rem;
  }
}
