.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #f6d171;
}

.Book-Picture {
  width: 10rem;
  height: 14rem;

  border: 2px solid #f6d171;
  box-shadow:
    #4d0408 0px 0px 0px 2px inset,
    rgb(234, 232, 213) 1px -1px 0px -1px,
    rgb(46, 2, 2) 2px -2px;
  margin: 10px 10px;
  filter: brightness(121%);
  -webkit-filter: brightness(121%);
}

.book-style {
  margin: 50px;
  width: 14rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  object-fit: contain;
  box-shadow:
    var(--red) 0px 0px 0px 2px inset,
    rgb(209, 209, 206) 5px -10px 0px -10px,
    rgb(239, 243, 239) 5px -5px,
    rgb(209, 209, 206) 10px -15px 0px -10px,
    rgb(234, 233, 229) 10px -10px,
    rgb(209, 209, 206) 20px -20px 0px -10px,
    rgb(239, 235, 233) 15px -15px,
    rgb(209, 209, 206) 25px -20px 0px -10px,
    var(--red) 25px -20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.book-style:hover {
  box-shadow:
    var(--blue) 0px 0px 0px 2px inset,
    rgb(209, 209, 206) 5px -10px 0px -5px,
    rgb(239, 243, 239) 5px -5px,
    rgb(209, 209, 206) 10px -16px 0px -5px,
    rgb(234, 233, 229) 10px -10px,
    rgb(209, 209, 206) 20px -22px 0px -5px,
    rgb(239, 235, 233) 20px -15px,
    rgb(209, 209, 206) 30px -26px 0px -5px,
    var(--blue) 30px -28px;
  background-color: var(--blue);
  cursor: pointer;
}

.book h3 {
  height: 3rem;
  color: var(--font);
  font-size: 25px;
  font-style: oblique;
}

.book {
  width: 16rem;
  margin: 2rem;
  text-align: center;
  /* flex-basis: calc(20% - 40px); */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Lettrine::first-letter {
  line-height: 0.2;
  font-size: 3em;
  /* taille de la police de caractères de la lettrine */
  font-weight: bold;
  /* graisse de la lettrine */
  float: left;
  /* alignement de la lettrine avec le texte */
  margin-right: 5px;
  /* espacement entre la lettrine et le texte */
}

.Changebook {
  margin: 20px;
  background: transparent;
  border: 1px var(--font) solid;
  border-radius: 30px;
  color: var(--font);
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.Changebook:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px var(--background);
  background: var(--font);
  color: var(--background);
  scale: 1.1;
}

.Changebook:hover {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  background: var(--font);
  color: var(--background);
}

.books-container input[type="text"] {
  background-color: transparent;
  border: 1px solidvar(--font);
  border-radius: 5px;
  color: var(--font);
  padding: 8px;
  margin-right: 16px;
}

.Corner {
  position: absolute;
  flex-basis: calc(33.33% - 40px);

  .CornerB {
    position: relative;
    bottom: 0.9rem;
    left: 5.7rem;
    height: 3rem;
    width: 3rem;
  }

  .CornerT {
    height: 3rem;
    width: 3rem;
    position: relative;
    bottom: 14.8rem;
    left: 5.7rem;
    transform: scaleY(-1);
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.label {
  margin: 16px;
}

.select {
  background-color: var(--background);
  color: white;
}


.NoBook {
  font-size: 30px;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

//pour modifier le input des photos
.books-container [type="file"] {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #f6d171;
  border-radius: 5px;
  color: #f6d171;
  padding: 8px;
  margin: 10px;
  width: 22rem;
}

//pour changer le bouton par défaut
*input[type="file"]::-webkit-file-upload-button {
  margin: 20px;
  background: transparent;
  border: 1px #f6d171 solid;
  border-radius: 30px;
  color: #f6d171;
  width: 200px;
  height: 30px;
}

*input[type="file"]::-webkit-file-upload-button:hover {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  background: #f6d171;
  color: var(--background);
}

.books-container [type="file"] {
  display: flex;
  justify-content: center;
}

*input[type="reset"] {
  margin: 20px;
  background: transparent;
  border: 1px #f6d171 solid;
  border-radius: 30px;
  color: #f6d171;
  width: 200px;
  height: 30px;
}

*input[type="reset"]:hover {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  background: #f6d171;
  color: var(--background);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Décalage initial vers le bas */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Pas de décalage une fois entièrement apparu */
  }
}

.book {
  opacity: 0;
  /* Commencez avec une opacité de 0 pour cacher les livres au début */
  animation: fadeIn 0.8s ease forwards;
  /* Utilisez l'animation fadeIn */
}

/* Appliquez un délai progressif à chaque livre */
.book:nth-child(1) {
  animation-delay: 0.4s;
}

.book:nth-child(2) {
  animation-delay: 0.6s;
}

.book:nth-child(3) {
  animation-delay: 0.8s;
}

.book:nth-child(4) {
  animation-delay: 1.2s;
}

.book:nth-child(5) {
  animation-delay: 1.6s;
}

.book:nth-child(6) {
  animation-delay: 2s;
}

/* Ajoutez plus de règles pour chaque livre selon le nombre de livres que vous avez */

@media screen and (max-width: 768px) {
  .books-container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .books-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 7rem;
  }

  .book {
    width: 17rem;
  }

  .book-style {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin: 0;
  }

  .Book-Picture {
    width: 150px;
    height: 230px;
  }

  .Add-Book {
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    width: 300px;
    font-style: oblique;
  }

  .Corner .CornerB {
    position: relative;
    bottom: 0.5rem;
    left: 5.5rem;
    height: 30px;
  }

  .Corner .CornerT {
    height: 30px;
    position: relative;
    bottom: 15.2rem;
    left: 5.5rem;
    transform: scaleY(-1);
  }
}