.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;

  h2 {
    font-size: 30px;
  }

  .Encrier {
    height: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      margin: 20px;

      input[type='text'],
      input[type='email'] {
        background-color: rgb(30, 29, 29);
        border: 1px solid #f6d171;
        border-radius: 5px;
        color: #f6d171;
        width: 32rem;
        height: 30px;
        padding: 10px;
        font-size: 20px;
      }
    }

    .contact-message textarea {
      height: 250px;
      width: 32rem;
      background-color: rgb(30, 29, 29);
      border: 1px solid #f6d171;
      border-radius: 5px;
      color: #f6d171;
      font-size: 20px;
      padding: 10px;
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      flex-direction: column;
    }
  }

  input[type='text'],
  input[type='email']:focus {
    background-color: rgb(30, 29, 29);
    color: #f6d171;
  }
}

@media screen and (max-width: 768px) {
  .Contact {
    padding-top: 1rem;

    form {
      div {
        input[type='text'],
        input[type='email'] {
          width: 17rem;
        }

        .contact-message textarea {
          width: 17rem;
        }
      }
    }
  }
}
