.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;

  h2 {
    font-size: 30px;
  }

  .Encrier {
    height: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      margin: 20px;

      input[type="text"],
      input[type="email"],
      textarea {
        background-color: rgb(30, 29, 29);
        border: 1px solid #f6d171;
        border-radius: 5px;
        color: #f6d171;
        width: 15rem;
        height: 30px;
        padding: 10px;
        font-size: 20px;
      }
    }

    .message textarea {
      height: 250px;
      font-size: 20px;
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      flex-direction: column;
    }

    .Bouton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f6d171;
      border: none;
      color: rgb(30, 29, 29);
      border-radius: 3rem;
      height: 50px;
      width: 14rem;
      font-size: 20px;
      cursor: pointer;
      margin: 0 10px 0 10px;
    }

    p {
      font-size: 20px;
    }

    .Bouton:hover {
      color: #f6d171;
      background: black;
      border: 1px solid #f6d171;
    }
  }

  input[type="text"],
  input[type="email"]:focus {
    background-color: rgb(30, 29, 29);
    color: #f6d171;
  }
}
