.footer {
    background-color: var(--background);
    color: var(--font);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    border-top: 2px solid var(--font);
    margin-top: 1.5rem;
}

.footer a {
    color: var(--font);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}