// .Header-All {
//   border-bottom: 1px solid;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   .Title {
//     background-color: var(--red);
//     height: 200px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     color: var(--font);
//     font-size: 20px;
//   }

//   .Test {
//     height: 200px;
//   }

//   .Title h3 {
//     margin-bottom: 0;
//     font-family: "Birthstone";
//     font-size: 30px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
// }
.logoContainer {
  height: 1rem;
  display: flex;
  position: relative;
  top: 6rem;
  align-items: center;
  margin-left: 20px;
  /* padding: 20px; */
  flex-direction: row-reverse;
}
.logo {
  position: relative;
  // bottom: 1rem;
  width: 7rem;
  height: 10rem;
  padding: 2rem;
}
.Header-All {
  background-color: var(--red);
  border-bottom: 1px solid;
  position: relative; /* Ajout de position relative */
  .Title {
    // margin-top: 2rem;
    border-bottom: 2px solid;
    background-color: var(--red);
    height: 10rem;
    padding: 2rem;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font);
    font-size: 20px;
    z-index: 1; /* Ajout de z-index pour empêcher la div Box de recouvrir le titre */
    h1 {
      font-family: "Luxurious Script";
      font-weight: 400;
      font-style: normal;
      font-size: 5rem;
      margin: 0 1rem;
    }
  }
  .Test {
    height: 200px;
    position: absolute; /* Ajout de position absolute */
    top: 0; /* Déplacement de la div Test en haut de la div parente */
    right: 0; /* Déplacement de la div Test sur la droite de la div parente */
    z-index: 2; /* Ajout de z-index pour placer la div Box au-dessus du titre */
  }
  .Title h2 {
    margin-bottom: 0;
    // font-family: "Birthstone";
    margin: 1rem;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Line {
    height: 2rem;
    width: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .Header-All {
    background-color: var(--red);
    margin-top: 30px;
    border-bottom: none;
    Title {
      background-color: var(--red);
      /* height: 18rem; */
      // border-bottom: 2px solid;
      width: 87vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--font);
      /* font-size: 20px; */
      z-index: 1;
      justify-content: center;
    }
  }
  img.logo {
    display: none;
  }
}
