.Login {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 100%;

  h2 {
    font-size: 30px;
  }

  input[type="checkbox"] {
    accent-color: #f6d171;
  }

  .Connect {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .title {
      display: flex;
      align-content: center;
      justify-content: center;
    }

    form.Connexion {
      align-items: center;
      justify-content: center;
      // width: 686px;
      background-color: rgb(30, 29, 29);

      .Bouton_Connect {
        display: flex;
        justify-content: center;

        .Changebook {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
        }
      }

      input.check[type="checkbox"] {
        flex-direction: row;
        margin: 10px 0 0 20px;
        height: 30px;
        width: 30px;
      }

      .email {
        display: flex;
        justify-content: center;
        flex-direction: column;

        input.email {
          background-color: rgb(30, 29, 29);
          border: 1px solid #f6d171;
          border-radius: 5px;
          color: #f6d171;
          width: 15rem;
          height: 30px;
          margin: 20px;
          padding: 10px;
          font-size: 20px;
        }
      }

      input.MDP {
        background-color: rgb(30, 29, 29);
        border: 1px solid #f6d171;
        border-radius: 5px;
        color: #f6d171;
        width: 15rem;
        height: 30px;
        margin: 20px;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}

.Inscrip {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  form .Bouton_Connect {
    display: flex;
    justify-content: center;

    .Changebook {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
  }

  .Bouton_déco {
    display: flex;
    justify-content: center;

    .Bouton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f6d171;
      border: none;
      color: rgb(30, 29, 29);
      border-radius: 5px;
      height: 50px;
      width: 150px;
      font-size: 20px;
      cursor: pointer;
      margin-top: 20px;
    }
  }

  .I_MDP {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    input.check[type="checkbox"] {
      flex-direction: row;
      margin: 10px 0 0 20px;
      height: 30px;
      width: 30px;
    }

    input.MDP {
      flex-direction: column;
      background-color: rgb(30, 29, 29);
      border: 1px solid #f6d171;
      border-radius: 5px;
      color: #f6d171;
      width: 15rem;
      height: 30px;
      margin: 20px;
      font-size: 20px;
      padding: 10px;
    }
  }

  input.user_name {
    background-color: rgb(30, 29, 29);
    border: 1px solid #f6d171;
    border-radius: 5px;
    color: #f6d171;
    width: 15rem;
    height: 30px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
  }

  input.email {
    background-color: rgb(30, 29, 29);
    border: 1px solid #f6d171;
    border-radius: 5px;
    color: #f6d171;
    width: 400px;
    height: 30px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
  }
}

.Calendar {
  background-color: rgb(30, 29, 29);

  label {
    margin: 10px;
    padding: 10px;
  }

  input#datetime {
    background: rgb(30, 29, 29);
    color: #f6d171;
    border-radius: 5px;
    border: 1px solid #f6d171;
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .Login input.email,
  .Login input.MDP {
    width: 90%;
    /* ou 30rem si tu veux fixe */
    max-width: 15rem;
    /* pour desktop */
  }

  .Inscrip input.email,
  .Inscrip input.user_name,
  .I_MDP input.MDP {
    width: 90%;
    /* ou 30rem si tu veux fixe */
    max-width: 400px;
    /* pour desktop */
  }
}
