.Login {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Birthstone", cursive;
  // margin-left: 20px;
  h2 {
    font-size: 40px;
  }
  input[type="checkbox"] {
    accent-color: #f6d171;
  }
  .Connect {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .title {
      display: flex;
      align-content: center;
      justify-content: center;
    }
    form.Connexion {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding: 20px;
      // background-color: rgb(30, 29, 29);
      // margin-left: 30px;
      .Bouton_Connect {
        display: flex;
        justify-content: center;
        margin: 0 10px 0 10px;
        .Changebook {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
        }
      }
      input.check[type="checkbox"] {
        left: 11.5rem;
        bottom: 3.8rem;
        position: relative;
        height: 1.4rem;
        width: 1.4rem;
      }
      .email {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 10px 0 10px;
        input.email {
          background-color: rgb(30, 29, 29);
          border: 1px solid #f6d171;
          border-radius: 5px;
          color: #f6d171;
          width: 25rem;
          height: 30px;
          margin: 0 10px 0 10px;
          padding: 10px;
          font-size: 20px;
        }
      }
      input.MDP {
        background-color: rgb(30, 29, 29);
        border: 1px solid #f6d171;
        border-radius: 5px;
        color: #f6d171;
        width: 25rem;
        height: 30px;
        margin: 20px;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}
.Inscrip {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 30px;
  form .Bouton_Connect {
    display: flex;
    justify-content: center;
    .Changebook {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
  }
  .Bouton_déco {
    display: flex;
    justify-content: center;
    .Bouton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f6d171;
      border: none;
      color: rgb(30, 29, 29);
      border-radius: 3rem;
      height: 50px;
      width: 14rem;
      font-size: 20px;
      cursor: pointer;
      margin: 0 10px 0 10px;
    }
    .Bouton:hover {
      color: #f6d171;
      background: black;
      border: 1px solid #f6d171;
      text-underline-offset: 0.5rem;
      text-decoration: underline;
    }
  }
  .I_MDP {
    display: flex;
    flex-direction: column;
    align-content: center;

    input.check[type="checkbox"] {
      position: relative;
      bottom: 2.3rem;
      left: 24.5rem;
      height: 1.4rem;
      width: 1.4rem;
    }

    input.MDP {
      flex-direction: column;
      background-color: rgb(30, 29, 29);
      border: 1px solid #f6d171;
      border-radius: 5px;
      color: #f6d171;
      width: 25rem;
      height: 30px;
      margin: 0 10px 0 10px;
      padding: 10px;
      font-size: 20px;
    }
  }
  input.user_name {
    background-color: rgb(30, 29, 29);
    border: 1px solid #f6d171;
    border-radius: 5px;
    color: #f6d171;
    width: 25rem;
    height: 30px;
    margin: 0 10px 0 10px;
    padding: 10px;
    font-size: 20px;
  }
  input.email {
    background-color: rgb(30, 29, 29);
    border: 1px solid #f6d171;
    border-radius: 5px;
    color: #f6d171;
    width: 25rem;
    height: 30px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }
}
.Calendar {
  // background-color: rgb(30, 29, 29);
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverse les couleurs du calendrier */
  }
  label {
    margin: 10px;
    padding: 10px;
  }
  input#datetime {
    background: rgb(30, 29, 29);
    color: #f6d171;
    border-radius: 5px;
    border: 1px solid #f6d171;
    width: 14.3rem;
    font-size: 15px;
    padding: 15px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
}
