@import "./Home.scss";
@import "./Header.scss";
@import "./About.scss";
@import "./Books.scss";
@import "./Glitter.scss";
@import "./Contact.scss";
@import "./SplashPageBook.scss";
@import "./Characters.scss";
@import "./Login.scss";
@import "./Quotes.scss";
@import "./NavBar.scss";
@import "./Cart.scss";
@import "./ScrollToTop.scss";
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Luxurious+Script&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
// @import url("https://fonts.googleapis.com/css2? family= Carattere & display=swap");
:root {
  --background: #1e1d1d;
  --font: #f6d171;
  --navbar: #141414;
  --red: #4d0408;
  --blue: #045259;
}
.Changebook {
  margin: 20px;
  background: transparent;
  border: 1px var(--font) solid;
  border-radius: 30px;
  color: var(--font);
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Changebook:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px var(--background);
  background: var(--font);
  color: var(--background);
  scale: 1.1;
}
.Changebook:hover {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  background: var(--font);
  color: var(--background);
}
.select-style {
  background-color: rgb(30, 29, 29);
  border: 1px solid #f6d171;
  border-radius: 5px;
  color: #f6d171;
  width: 20rem;
  height: 3rem;
  padding: 0.7rem;
  font-size: 1.1rem;
  border-radius: 1.5rem;
}
.confirmation-modal {
  text-align: center;
  width: max-content;
  color: var(--font);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  padding: 20px;
  border: 1px solid var(--font);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
}
