.Medaillon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: translation 8s linear forwards;
  z-index: 25;
}

.familyPicture {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Picture {
  border-radius: 100%;
  border: 5px solid var(--font);
  border-style: inset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin: 2rem auto;
  position: relative;
  transform-style: preserve-3d;
}

.Mère {
  width: 40vw;
  max-width: 250px;
  aspect-ratio: 4 / 5;
  height: auto;
  border-radius: 100%;
  border: 5px solid var(--font);
  border-style: inset;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  left: 0;
  transform: rotateY(-5deg);
}

.Père.animated {
  position: absolute;
  width: 40vw;
  max-width: 250px;
  aspect-ratio: 4 / 5;
  height: auto;
  border-radius: 100%;
  border: 5px solid var(--font);
  border-style: inset;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  left: 0;
  transform-origin: 0% 50%; // (100% 50%)permet de centrer la rotation sur le côté droit
  transform: rotateY(0deg);
  transform-style: flat;
  animation: rotations 7s linear forwards;

  z-index: 1;
}

.Père img {
  opacity: 0;
  animation: apparition 4s ease 6s forwards;
}

.Test.animated {
  position: absolute;
  object-fit: contain;
  opacity: 1;
  width: 40vw;
  max-width: 250px;
  aspect-ratio: 4 / 5;
  height: auto;
  border-radius: 100%;
  border: 5px solid var(--font);
  border-style: inset;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  left: 0;
  transform-origin: 0% 50%;
  transform: rotateY(5deg);
  transform-style: flat;
  animation: rotations 7s linear forwards;
}

.FamilyP {
  position: relative;
  right: 8rem;
  height: 25rem;
  cursor: pointer;
}

.FamilyM {
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.medaillon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  animation: opacity-img 2s ease 7s forwards;
  animation-iteration-count: 1;
}

/* INFO */
.Info {
  display: none;
  position: absolute;
  z-index: 2;
  color: var(--font);
  text-shadow: black 1px 0 10px;
  font-size: 14px;
  transform: translate(-50%, -10%);
  opacity: 0;
  padding: 0.5rem;
  height: 5rem;
  width: 12rem;
  left: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--font);
}

.Mère .Info {
  display: block;
  top: 50%;
  left: 50%;
  height: 6rem;
}

.Père .Info {
  display: block;
  transform: rotateY(-180deg);
  top: 48%;
  width: 12rem;
  height: 6rem;
  line-height: 1.2rem;
}

.Mère:hover .Info,
.Père:hover .Info {
  opacity: 1;
}

/* ANIMATIONS */
@keyframes apparition {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotations {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-180deg);
  }
}

@keyframes translation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes opacity-img {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .Picture {
    flex-direction: column;
    gap: 1rem;
  }

  .FamilyP {
    width: 18rem;
    right: 0;
    object-fit: cover;
  }

  .FamilyM {
    right: 0;
    // width: 80%;
    height: auto;
  }

  .picture-description .father-desc {
    top: -12rem;
    position: relative;
    z-index: 1000;
    color: var(--font);
    left: -4rem;
    opacity: 0;
    animation: apparition 4s ease 2s forwards;
    transform: translateY(180deg);
  }

  .picture-description .mother-desc {
    top: -8rem;
    position: relative;
    z-index: 1000;
    color: var(--font);
    left: 2rem;
  }

  /* et masquer les infos classiques au hover */

  .Info {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .picture-description {
    display: none;
  }

  .Info {
    display: none;
  }
}
