.notfound {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font);

    p {
        font-size: 2rem;
    }

}