.All_Quotes {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Quotes {
    font-size: 20px;
    margin: 10px;
    padding: 2rem;
    width: 80%;
    line-height: 1.5;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var(--font);
    background: rgba(255, 255, 255, 0.1);
    /* Couleur blanche avec une opacité de 0.8 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  h3 p {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    line-height: 1.5;
    text-align: center;
  }

  .quotes_title {
    font-family: "Kaushan Script", cursive;
  }

  .quotes_intro {
    font-size: 1.1rem;
    font-style: oblique;
  }

  .Line {
    display: flex;
    justify-content: center;
    height: 25px;
  }

  .Find {
    display: flex;
    justify-content: center;
  }

  .Find input[type="search"] {
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px #f6d171 solid;
    border-radius: 30px;
    color: #f6d171;
    width: 30rem;
    height: 3rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .All_Quotes {
    margin: 0;
    padding-top: 1rem;


    .quotes_intro {
      font-size: 1.3rem;
      font-style: oblique;
      padding: 0 1rem;
    }
  }

  .Quotes {
    font-size: 15px;
    margin: 10px;
    line-height: 1;
    text-align: center;
  }

  .Find {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .All_Quotes .Find input[type="search"] {
    width: 18rem;
  }
}